.video-player {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #000;
}

.video-iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.no-video {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: var(--text-secondary);
  font-size: 1.25rem;
}

